.modal {
  position: fixed;
  z-index: 200;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.3);
  top: 0;
  left: 0;
  right: 0;
}

.card {
  display: flex;
  margin: auto;
  width: 796.6px;
  height: 414px;
  background: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
  border-radius: 16px;
}

.background {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 342.763671875px;
  height: 100%;
  border-radius: 16px 0 0 16px;
}

.img {
  margin: 31px auto;
}

.type {
  position: absolute;
  display: flex;
  gap: 14.47px;
  bottom: 19.65px;
  right: 14.39px;
}

.type li {
  font-weight: "Karla";
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  padding: 0.15px 15px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: calc(100% - 342.763671875px);
  padding: 29px 20px 25.31px 12.65px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  color: #fdfdfd;
}

.generation {
  color: #fdfdfd;
  font-size: 24px;
  line-height: 30.17px;
  font-weight: normal;
  margin-right: 52px;
}

.id {
  position: absolute;
  background: #f2cb07;
  width: 50px;
  height: 50px;
  text-align: center;
  top: -16px;
  right: -1px;
  padding-top: 17px;
  border-radius: 50%;
}

.row2 {
  display: inline-block;
  background: #fdfdfd;
  padding: 12.32px 28.46px 9.97px 28.46px;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
  max-width: 375px;
}

.row3 {
  display: flex;
  background: #fdfdfd;
  padding: 18.65px 18.97px 7.99px 19.63px;
  justify-content: space-between;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
}

.row4 {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.row4 div {
  padding: 10px 20px 10px;
  background: #fdfdfd;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
}

.row4 div span {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  padding-top: 9px;
  padding-left: 1px;
  border-radius: 50%;
  border: 4px solid #000;
}

.row4 div h6 {
  margin-top: 6px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #4b4b4b;
}

@media (max-width: 880px) {
  h5 {
    font-size: 16px;
    line-height: 19px;
  }
  .card {
    width: 669.13px;
    height: 310.71px;
  }
  .info {
    gap: 10px;
    width: calc(100% - 304.75px);
    padding: 26.96px 16.74px 21.2px 19.33px;
  }
  .background {
    width: 304.75px;
  }
  .img {
    margin: -13px auto;
  }
  .title {
    font-size: 24px;
    line-height: 28px;
  }
  .id {
    font-size: 14px;
    line-height: 16.37px;
    width: 43px;
    height: 43px;
    top: -16px;
    right: 5px;
    padding-top: 14px;
  }
  .generation {
    font-size: 21px;
    line-height: 26px;
  }
  .row2 {
    padding: 8.83px 28.46px 8px 23.81px;
  }
  .row2 span {
    font-size: 16px;
    line-height: 20px;
  }
  .row3 {
    padding: 10.65px 11.97px 7.99px 10.63px;
  }
  .row4 {
    gap: 14px;
  }
  .row4 div {
    padding: 6px 15px 2px;
  }
  .row4 div span {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    padding-left: 0px;
  }
}
