.modal {
  position: fixed;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.3);
  top: 0;
  left: 0;
}

.card {
  display: flex;
  max-width: 800px;
  margin: 10px;
}

.pokemon {
  position: relative;
  max-width: 342px;
  max-height: 348px;
  border-radius: 16px 0 0 16px;
}

.pokemon img {
  max-width: 117%;
  position: relative;
  top: -68px;
  left: -26px;
}

.type {
  position: absolute;
  display: flex;
  gap: 14.47px;
  bottom: 7px;
  right: 14.39px;
}

.type li {
  font-weight: "Karla";
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  padding: 0.15px 15px;
}

.info {
  max-width: 400px;
  padding: 20px;
  background: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
  border-radius: 0 16px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.row1 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title {
  color: #fdfdfd;
}

.generation {
  color: #fdfdfd;
  font-size: 14px;
  line-height: 30.17px;
  font-weight: normal;
  margin-right: 52px;
  padding-left: 20px;
}

.id {
  position: absolute;
  background: #f2cb07;
  width: 50px;
  height: 50px;
  text-align: center;
  top: -16px;
  right: -1px;
  padding-top: 17px;
  border-radius: 50%;
}

.row2 {
  display: inline-block;
  background: #fdfdfd;
  padding: 12.32px 28.46px 9.97px 28.46px;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
  max-width: 375px;
  align-self: baseline;
}

.row3 {
  display: flex;
  background: #fdfdfd;
  padding: 18.65px 18.97px 7.99px 19.63px;
  justify-content: space-between;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
}

.row4 {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.row4 div {
  width: 80px;
  padding: 10px 0;
  background: #fdfdfd;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  border-radius: 8px;
}

.row4 div span {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  padding-left: 1px;
  border-radius: 50%;
  border: 4px solid #000;
}

.row4 div h6 {
  margin-top: 6px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #4b4b4b;
}

@media (max-width: 680px) {
  .pokemon img {
    max-width: 100%;
    position: relative;
    top: initial;
    left: initial;
  }
}

@media (max-width: 580px) {
  .card {
    flex-direction: column;
  }
  .pokemon {
    max-width: 400px;
    border-radius: 16px 16px 0 0;
  }
  .pokemon img {
    position: initial;
    max-width: 400px;
    margin: auto;
  }
  .info {
    max-width: 400px;
    border-radius: 0 0 16px 16px;
  }
  .type {
    bottom: initial;
    top: 18px;
    right: 42.39px;
  }
}

@media (max-width: 500px) {
  .modal {
    background: rgba(33, 33, 33, 0.9);
    /* align-items: initial; */
    overflow-y: scroll;
  }
}

@media (max-width: 425px) {
  .card {
    width: 95%;
    height: 95%;
    margin: 20px 0;
  }
  .pokemon {
    max-height: 255px;
  }
  .pokemon img {
    max-width: 310px;
    margin: 0 auto;
  }
  .info {
    height: calc(100% - 250px);
  }
  .row2 {
    align-self: stretch;
  }
  .type {
    right: 17.39px;
  }
}

@media (max-width: 325px) {
  .modal {
    align-items: center;
  }
  .card {
    height: 100%;
  }
  .pokemon {
    max-height: 245px;
  }
  .pokemon img {
    max-height: 245px;
  }
  .title {
    position: absolute;
    z-index: 100;
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    top: 70px;
    left: 23px;
    line-height: 0.9;
    font-family: monospace;
  }
  .generation {
    right: 0;
  }
  .id {
    top: -16px;
    right: -108px;
  }
}
