.footer {
  max-width: 1200px;
  margin: 40px auto 33px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer span {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

/* Tablete */
@media (max-width: 880px) {
  .footer {
    margin-top: 15px;
  }
  .footer div span {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-right: 15px;
  }
  .footer span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
  }
}

/* Smartphone */
@media (max-width: 755px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: initial;
  }
  .footer div span {
    margin-right: 0;
  }
}
